*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.danger{
    color: red;
}
main {
    display: flex;
}
.card {
    margin: 5px;
    padding: 100px;
    border: 1px solid black;
}

























































.animation {
    animation: example-animation 3s linear infinite;
    color: rgb(74, 250, 35);
  }





  @keyframes example-animation {
    0% {
        color: rgb(89, 0, 255);
    }
    20% {
        color: orange;
    }
    40% {
        color: red;
    }
    60% {
        color: orange;
    }
    80% {
        color: rgb(89, 0, 255);
    }
    100% {
        color: red;
    }
  }
 